@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
  background-image: linear-gradient(to bottom right, #cfd8dc, #90a4ae, #546e7a);
}

.main-page {
  text-align: center;
  // margin-top: 40px;
  padding-top: 60px;
}

h1 {
  font-family: 'Michroma', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

button {
  font-family: 'Michroma', sans-serif;
  margin-top: 5px;
  border: 1px solid black;
}