@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.signup-title {
  font-family: 'Michroma', sans-serif;
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.signup-card {
  background-color: #cfd8dc;
  border: 1px solid black;
}

.mat-form-field {
  margin-top: 8px;
}

input {
  font-size: 14px;
}

button {
  font-family: 'Michroma', sans-serif;
  margin-bottom: 5px;
  border: 1px solid black;
}